__pycache__/Constantes.cpython-38.pyc
__pycache__/classes.cpython-38.pyc
__pycache__/game_screen.cpython-38.pyc
__pycache__/init_screen.cpython-38.pyc
__pycache__/instrucoes.cpython-38.pyc
__pycache__/Load_assets.cpython-38.pyc
__pycache__/game_screen_1.cpython-38.pyc
